/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282c34FF;
    background-alt: #21252bFF;
    foreground:     #abb2bfFF;
    selected-alt:   #3e4451FF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
