/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "JetBrains Mono", FontAwesome6Free, SymbolsNerdFont;
  border: none;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(220, 224, 232, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  color: #4c4f69;
  padding: 1px;
  border-radius: 15px;
  background-color: #dce0e8;
}

#workspaces button {
  padding: 0px 8px;
  margin: 3px 4px;
  border-radius: 15px;
  border: 0px;
  color: #4c4f69;
  background-color: #ccd0da;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #eff1f5;
  background-color: #dd7878;
  border-radius: 15px;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  color: #eff1f5;
  background-color: #8839ef;
}

#workspaces button:hover {
  color: #eff1f5;
  background: #dc8a78;
  border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 8px;
  background-color: #eff1f5;
  border: 2px solid #acb0be;
}

tooltip * {
  border-radius: 8px;
}

tooltip label {
  color: #4c4f69;
  padding: 5px;
}


/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: #eff1f5;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
  border-radius: 15px;
  color: #4c4f69;
  border: 2px solid #acb0be;
}

window#waybar.empty #window {
  background: #eff1f5;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background-color: #eff1f5;
  color: #4c4f69;
  padding: 2px 5px 2px 5px;
  margin: 0px 10px 0px 0px;
  border-radius: 15px;
  border: 2px solid #dd7878;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-notification,
#keyboard-state,
#custom-browser,
#custom-musica,
#custom-terminal,
#custom-filemanager,
#custom-windowsvm,
#custom-cliphist,
#custom-system,
#custom-waybarthemes {
  margin-right: 15px;
}

#custom-notification,
#idle_inhibitor,
#custom-exit,
#custom-terminal,
#custom-musica,
#custom-filemanager,
#custom-windowsvm,
#custom-cliphist,
#custom-system {
  padding: 0px;
  font-size: 18px;
  color: #4c4f69;
  font-weight: bold;
}

#custom-browser {
  padding: 0px;
  font-size: 20px;
  color: #4c4f69;
  font-weight: bold;
}

#keyboard-state {
  padding: 0px;
  color: #4c4f69;
  font-weight: bold;
}

#keyboard-state label {
  font-size: 18px;
}

#custom-system {
  margin-right: 15px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 15px;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  color: #d20f39;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
  background-color: #eff1f5;
  color: #4c4f69;
  border: 2px solid #dd7878;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  background: linear-gradient(120deg, #ea76cb, #dc8a78);
  color: #eff1f5;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border: 2px solid #eff1f5;
}

/* -----------------------------------------------------
 * Custom Weather
 * ----------------------------------------------------- */

#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  background: #eff1f5;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border-radius: 15px;
  color: #4c4f69;
  border: 2px solid #acb0be;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  margin-right: 10px;
  padding: 0px;
  color: #4c4f69;
}

/* -----------------------------------------------------
 * language
 * ----------------------------------------------------- */

#language {
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  background: linear-gradient(120deg, #dd7878, #7287fd);
  color: #eff1f5;
  border: 2px solid #eff1f5;
}

/* -----------------------------------------------------
 * backlight
 * ----------------------------------------------------- */

#backlight {
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  background: linear-gradient(120deg, #04a5e5, #df8e1d);
  color: #eff1f5;
  border: 2px solid #eff1f5;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: #eff1f5;
  color: #4c4f69;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border: 2px solid #dd7878;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  background: linear-gradient(120deg, #df8e1d, #8839ef);
  color: #eff1f5;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border: 2px solid #eff1f5;
}

#pulseaudio.muted {
  background: linear-gradient(120deg, #1e66f5, #d20f39);
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: #eff1f5;
  color: #4c4f69;
  border-radius: 15px;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #8839ef;
}

#network.ethernet {
  background-color: #eff1f5;
  color: #4c4f69;
}

#network.wifi {
  background-color: #eff1f5;
  color: #4c4f69;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  background: linear-gradient(120deg, #1e66f5, #40a02b);
  color: #eff1f5;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border: 2px solid #eff1f5;
}

#bluetooth.off {
  background: linear-gradient(120deg, #e64553, #1e66f5);
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background: linear-gradient(120deg, #ea76cb, #209fb5);
  color: #eff1f5;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 0px;
  border: 2px solid #eff1f5;
}

#battery.charging,
#battery.plugged {
  background: linear-gradient(120deg, #1e66f5, #40a02b);
}

@keyframes blink {
  to {
    background-color: #d20f39;
    color: #d20f39;
  }
}

#battery.critical:not(.charging) {
  background: linear-gradient(120deg, #ea76cb, #7287fd);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  background-color: #eff1f5;
  color: #4c4f69;
  padding: 2px 7px 2px 7px;
  margin: 0px 10px 0px 0px;
  border-radius: 15px;
  border: 2px solid #dd7878;
}

#tray menu * {
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
